    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Vita</h2>
                <p><img src="{{ site.baseurl }}images/juergen.jpg" alt="Juergen" /></p>
                <div class="vita">
                {% for page in site.posts %}
                {% if page.type == "vita" %}
                {{ page.content | markdownify }}
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </section>