    <!-- About Section -->
    <section id="news" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {% for page in site.posts %}
                {% if page.type == "news" %}
                <div class="news">
                    <h4>
                        {% assign m = page.date | date: "%-m" %}
                        {{ page.date | date: "%-d" }}
                        {% case m %}
                        {% when '1' %}Januar
                        {% when '2' %}Februar
                        {% when '3' %}März
                        {% when '4' %}April
                        {% when '5' %}Mai
                        {% when '6' %}Juni
                        {% when '7' %}Juli
                        {% when '8' %}August
                        {% when '9' %}September
                        {% when '10' %}Oktober
                        {% when '11' %}November
                        {% when '12' %}Dezember
                        {% endcase %}
                        {{ page.date | date: "%Y" }}
                    </h4>
                    <h1 class="newsTitle">{{ page.title }}</h1>
                    {{ page.content | markdownify }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>